<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }

        .button {
            background-color: teal;
            color: white;
            padding: 15px 15px;
            text-decoration: none;
        }

        h1 {
            color: palevioletred;
        }
    </style>
</head>

<body>
    <h1>Foods Page</h1>
    <table>
        <tr>
            <th>Food Id</th>
            <th>Food Name</th>
            <th>Ingredients</th>
            <th>Method</th>
        </tr>
        <% for(var i = 0; i <foods.length; i++) { %>
    
            <tr>
                <td>
                    <%= foods[i].fid %>
                </td>
                <td>
                    <%= foods[i].fname %>
                </td>
                <td>
                    <%= foods[i].ingredient %>
                </td>
                <td>
                    <%= foods[i].method %>
                </td>
                <td>
                    <a href="/updateFood/<%= foods[i].fid%>">Update</a>
                </td>
                <td>
                     <a href="/deleteFood/<%= foods[i].fid%>">Delete</a>
                </td>
               
            </tr>
            <% } %>
    </table>
    <br><br>
    <a href="/addFood" class="button">Add Food</a> </button>
    <br><br><br><br>
    <a href="/" class="button">HOME</a> </button>
</body>

</html>